<p id="notice"><%= notice %></p>

<h1>Listing Milestones</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.title %></td>
        <td><%= milestone.due_date %></td>
        <td><%= milestone.description %></td>
        <td><%= link_to 'Show', goal_milestone_path(@goal, milestone) %></td>
        <td><%= link_to 'Edit', edit_goal_milestone_path(@goal, milestone) %></td>
        <td><%= link_to 'Delete', [@goal, milestone], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Milestone', new_goal_milestone_path %>
