<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @milestone.title %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @milestone.due_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<%= link_to 'Edit', edit_project_milestone_path(@project, @milestone) %> |
<%= link_to 'Back', project_milestones_path(@project) %>
