<h1>Listing Action Steps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_steps.each do |action_step| %>
      <tr>
        <td><%= action_step.title %></td>
        <td><%= action_step.due_date %></td>
        <td><%= action_step.description %></td>
        <td><%= link_to 'Show', project_action_step_path(@project, action_step) %></td>
        <td><%= link_to 'Edit', edit_project_action_step_path(@project, action_step) %></td>
        <td><%= link_to 'Delete', [@project, action_step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action Step', new_project_action_step_path %>
