<h3>Project</h3>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>Due date:</strong>
  <%= @project.due_date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<hr/>
<% if @project.action_steps.any? %>
  <h3>Action Steps</h3>

  <% @project.action_steps.each do |action_step| %>

    <p>
      <strong>Title:</strong>
      <%= action_step.title %>
    </p>
    <p>
      <strong>Due date:</strong>
      <%= action_step.due_date %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= action_step.description %>
    </p>

    <%= link_to 'Show action_step', project_action_step_path(@project, action_step) %> |
    <%= link_to 'Edit action_step', edit_project_action_step_path(@project, action_step) %> | 
    <%= link_to 'Delete action_step', [@project, action_step], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr/>
<% end %>

<%= link_to 'New action_step', new_project_action_step_path(@project) %> |
<%= link_to 'Edit Project', edit_user_project_path %> |
<%= link_to 'Back', user_projects_path %>
