<h3>Goal</h3>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>
<p>
  <strong>Due date:</strong>
  <%= @goal.due_date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>
<hr/>
<% if @goal.milestones.any? %>
  <h3>Milestones</h3>

  <% @goal.milestones.each do |milestone| %>

    <p>
      <strong>Title:</strong>
      <%= milestone.title %>
    </p>
    <p>
      <strong>Due date:</strong>
      <%= milestone.due_date %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= milestone.description %>
    </p>

    <%= link_to 'Show milestone', goal_milestone_path(@goal, milestone) %> |
    <%= link_to 'Edit milestone', edit_goal_milestone_path(@goal, milestone) %> | 
    <%= link_to 'Delete milestone', [@goal, milestone], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr/>
<% end %>

<%= link_to 'New milestone', new_goal_milestone_path(@goal) %> |
<%= link_to 'Edit Goal', edit_user_goal_path %> |
<%= link_to 'Back', user_goals_path %>
